<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
    <title>核心交易系统</title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="${name}" />

    <table>
        <tr>
            <th>ID</th>
            <th>姓名</th>
        </tr>
        <tr th:each="u:${users}">
            <td th:text="${u.id}">0</td>
            <td th:text="${u.name}">zhansan</td>
        </tr>
    </table>

    <br/>
    <select>
        <option th:each="user:${users}" th:value="${user.id}" th:text="${user.name}">默认值</option>
    </select>
</div>

</body>
</html>